[submodule "WhiteSur-icon-theme"]
	path = WhiteSur-icon-theme
	url = https://github.com/vinceliuice/WhiteSur-icon-theme
[submodule "WhiteSur-gtk-theme"]
	path = WhiteSur-gtk-theme
	url = https://github.com/vinceliuice/WhiteSur-gtk-theme
